:root{
	--background: #F8FBFF;
	--header: #EBF1F8;
	--footer: #244A74;
	--letras: #041629;
	--Pblog: #4D6783;
	--HeaderLinks: #112F4F;
	--Poppins:'Poppins', sans-serif;
	--TitleWgh: 600;
	--Textwgh: 400;
	--HeaderFont:'Oswald', sans-serif;
}
/*CSS do Footer --> */
.DescFooter{
	margin-top: 10vw;
	padding: 2.5rem;
	display: grid;
	grid-template-columns: 50% 50%;
	background-color: var(--footer);
}
.Address{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: 0 auto;
}
.Address h4{
	font-family: var(--Poppins);
	font-weight: var(--TitleWgh);
	font-size: calc(1vw + 10px);
	color: var(--header);
	text-decoration: underline;
	margin-bottom: 0px;
}
.Address p{
	margin-top: 0;
	font-family: var(--Poppins);
	font-size: calc(1vw + 3px);
	color: var(--background);
}
.Navigation{
	width: 50%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 auto;
}
.Navigation h4{
	font-family: var(--Poppins);
	font-weight: var(--TitleWgh);
	font-size: calc(1vw + 10px);
	color: var(--header);
	text-decoration: underline;
	margin-bottom: 0px;
}
.Navigation a{
	margin-top: 0;
	font-family: var(--Poppins);
	font-size: calc(1vw + 6px);
	color: var(--background);
	text-decoration: none;
}
.socialMedia{
	display: flex;
}
.socialMedia img{
	width: 4vw;
}
.socialMedia img:nth-child(2){
	margin-left: 1.1rem;
}