:root{
	--background: #F8FBFF;
	--header: #EBF1F8;
	--footer: #244A74;
	--letras: #041629;
	--Pblog: #4D6783;
	--HeaderLinks: #112F4F;
	--Poppins:'Poppins', sans-serif;
	--TitleWgh: 600;
	--Textwgh: 400;
	--HeaderFont:'Oswald', sans-serif;
}
header{
	width: 100vw;
	background-color: var(--header);
}
.HeaderContent{
	width: 93%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logoUF{
	width: 25%;
}
.logoUF img {
		width: 100%;
		height:auto;
}
.links{
	display: flex;
    justify-content: space-evenly;
	width: 40%;
	color: var(--HeaderLinks);
	font-size: calc(1vw + 10px);
	font-family: var(--HeaderFont);
}
.links a{
	text-decoration: none;
	color: var(--HeaderLinks);
}
/* CSS do Hamburguer */
.hambur{
	display: none;
	width: 50px;
	height: 50px;
	background-color:#244A74; 
}
.hamburger{
  position:absolute;
  top:0;
  right:0;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
  margin-top: 1rem;
  margin-right: 1rem;
  background-color: rgb(212, 223, 234);
  color: rgb(36, 74, 116);
  align-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50% ;
}
.cross{
background-color: rgb(212, 223, 234);
  color: rgb(36, 74, 116);
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  position:absolute;
  top:0px;
  right:0;
  font-size:3em;
  font-weight:bold;
  cursor:pointer;
  margin-top: 1rem;
  margin-right: 1rem;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-family: var(--HeaderFont);font-weight:bold; font-size:0.8em; width:100%; background:var(--HeaderLinks);  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:var(--letras);}
.menu a{text-decoration:none; color: var(--header);}

.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}
/* CSS do hamburger */

/*Reponsividade para o mobile*/
@media screen and (max-width: 600px){
	header{
		background-color: var(--background);
	}
	.links{
		display: none;
	}
	.logoUF{
		width: 20%;
		margin: 0 auto;
	}
	.hambur{
		display: inline;
	}
}
