html{
	font-size: 10px;
}
:root{
	--background: #F8FBFF;
	--header: #EBF1F8;
	--footer: #244A74;
	--letras: #041629;
	--Pblog: #4D6783;
	--HeaderLinks: #112F4F;
	--Poppins:'Poppins', sans-serif;
	--TitleWgh: 600;
	--Textwgh: 400;
	--HeaderFont:'Oswald', sans-serif;
}
body{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	width: 100vw;
	height: 100vh;
	background-color:var(--background);
	overflow-x: hidden;
}
main h2{
	margin-top: 5vw;
	margin-bottom: 5vw;
	text-align: center;
	font-size: calc(2vw + 10px);
	font-family: var(--Poppins);
	font-weight: var(--TitleWgh);
	color: var(--letras);
}
.membersDad{
	width: 78vw;
	margin: 0 auto;
}
.members{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.members div{
	display: flex;
	width: 30%;
	flex-direction: column;
	align-items: center;
}
.members div h3{
	font-family: var(--Poppins);
	font-size: calc(1vw + 10px);
	font-weight: var(--TitleWgh);
}
.members div p{
	margin-top: -10px;
	font-family: var(--Poppins);
	font-size: calc(1vw + 1px);
	font-weight: var(--Textwgh);
}
.members img{	
	width: 70%;
}